@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');



* {
    font-family: Mulish;
    /* border: 1px solid salmon; */
    margin: 20px 40px;


}

/* shared-css */
.ractangle {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: none;
}

.btn-orange {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
}



/* nav start here   */
/* ------------------------------------------------------------------------------------------------------------------------------------------------- */

.left-nav {
    display: flex;
    align-items: center;
}

.left-nav img {
    height: 48px;
    width: 56px;
    padding-right: 16px;
}

.left-nav h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
}


nav>ul>li>a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    padding: 10px 30px;

}

#nav-home {
    color: #FF5400;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;

}


/* nav end here   */
/* ----------------------------------------------------------------------------------------------------- */

/* banner start here   */

.banner {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group13.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
    border-radius: 16px;

    min-width: 1170px;
    min-height: 500px;


}


.banner h1 {
    text-align: center;
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;

    font-weight: 800;

    padding-top: 100px;
    padding-bottom: 20px;

}

.banner p {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}

.banner-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 120px;


}

.banner-input>input {
    margin-left: 24px;
    padding-right: 24px;
    color: rgba(19, 19, 24, 0.50);
    text-align: left;
    padding-left: 10px;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;

}

.banner-input>button {
    margin-left: 24px;
    padding-right: 24px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}











/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* our populer toure start  */

.populer-tour {
    display: flex;
    width: auto;

}

.populer-tour h2 {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;

}


.populer-tour p,
li {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.populer-tour-text {
    margin-right: 53px;
}

.read-more {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border: none;
}



/* destination start here  */

/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */

.destination {
    display: grid;
    justify-content: center;
    align-items: center;


}

.destination-img {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 24px;

}

.row1 {
    grid-template-columns: repeat(2, 1fr);


}

.row2 {
    grid-template-columns: repeat(3, 1fr);

}

.row3 {
    grid-template-columns: repeat(2, 1fr);
}

.destination-img>div>img {
    margin: 14px;
    padding: 14px;
}

.img-container {
    position: relative;
    text-align: center;
}

.Maldives {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-350%, -150%);
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.Indonesia {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(150%, -150%);
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.Srilanka {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-460%, -150%);
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

.North-America {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -150%);
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.Kashmir {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(350%, -150%);
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}